<div id="<%= dom_id repository %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Repository type:</strong>

    <%= repository.repository_type.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= repository.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this repository", repository, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this repository", edit_repository_path(repository), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
