<!DOCTYPE html>
<html>
  <head>
    <title>Boxkite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div>
      <div id="react-header" />
    </div>

    <main class="container flex px-5 mx-auto mt-14">
      <%= yield %>
    </main>
  </body>
</html>
